.env
api/.venv/
api/*.egg-info/
api/src/*.egg-info/
web/node_modules/
web/dist/
__pycache__/
deploy-keys/*
!deploy-keys/.gitkeep
config/*
!config/.gitkeep
runner/*
!runner/.gitkeep
snapshots/*
!snapshots/.gitkeep
